#navbar {
  background-color: #181818;
  color: white;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  width: 100vw;
  border-bottom: solid 2px black;
}
#navbar ul {
  padding: 0;
  list-style: none;
}
#navbar li {
  display: inline;
}
#navbar li:not(:first-child) {
  padding-left: 15px;
}
#navbar li:not(:last-child) {
  border-right: solid 1px white;
}
#navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}
#navbar a:hover,
a:active {
  color: rgb(190, 190, 190);
}
